.container {
  width: 90vw;
  margin: auto;
  padding: 40px 0;
  border-bottom: 2px dashed #d2dcff;
  position: relative;
}
.header {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.grid {
  display: grid;
  gap: 10px 10px;
  grid-auto-rows: 300px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
  margin: 20px auto 0;
  width: 1000px;
}
.project_item {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.18);
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &:hover {
    div {
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      backdrop-filter: blur(5px) brightness(0.8);
      font-size: 2rem;
      font-weight: 600;
      color: rgb(255, 255, 255);
    }
  }
  div {
    display: none;
  }
}
.modal_back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal {
  width: 70%;
  max-width: 720px;
  height: 65%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  margin-bottom: 2rem;
  z-index: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  .modal_img {
    img {
      width: 100%;
      height: 100%;
      border-radius: 15px;
      object-fit: cover;
    }
    border-radius: 10px;
    box-shadow: 1px 1px 8px 1px rgba(15, 5, 5, 0.4);
  }
}
.close_btn {
  position: fixed;
  top: 1;
  right: -50px;
  i {
    font-size: 2rem;
    color: white;
  }
}
.modal_main {
  margin-top: 1rem;
  width: 100%;
  padding: 0 1rem;
}
.modal_sub {
  margin-bottom: 2rem;
  font-size: 1rem;
  div {
    display: flex;
    align-items: center;
    i {
      margin-right: 0.5rem;
    }
    p {
      font-weight: 400;
      margin: 0;
    }
  }
  p {
    font-weight: 500;
    padding-bottom: 6px;
    margin-left: 1.5rem;
    word-break: keep-all;
  }
}
.modal_line {
  display: flex;
  align-items: center;
  font-size: 1rem;
  i {
    margin-right: 0.5rem;
  }
  p {
    font-weight: 400;
  }
  a:nth-of-type(1) {
    margin-left: 1rem;
    text-decoration: none;
    color: #7592fb;
  }
  a:nth-of-type(2) {
    display: none;
    margin-left: 1rem;
    width: 60%;
    height: 2rem;
    button {
      border: 1px solid #7592fb;
      border-radius: 15px;
      outline: none;
      background-color: white;
      color: black;
      width: 100%;
      height: 100%;
      &:hover {
        background-color: #d2dcff;
      }
    }
  }
}

/* 노트북 & 태블릿 가로 (해상도 1024px ~ 1279px)*/
@media all and (min-width: 1024px) and (max-width: 1279px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}

/* 태블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    gap: 25px 10px;
  }
  .project_item {
    width: 75%;
  }
  .modal {
    width: 80%;
  }
}
/* 모바일 가로 & 태블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width: 480px) and (max-width: 767px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    gap: 25px 10px;
    grid-auto-rows: 400px;
  }
  .modal {
    width: 75%;
    height: 60%;
  }
  .modal_line {
    margin-bottom: 1rem;
    p {
      width: 15%;
      min-width: 70px;
    }
    a:nth-of-type(1) {
      display: none;
    }
    a:nth-of-type(2) {
      display: block;
    }
  }
}
/* 모바일 세로 (해상도 ~ 479px)*/
@media all and (max-width: 479px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    grid-auto-rows: 245px;
  }
  .project_item {
    width: 80%;
    height: 240px;
    &:hover {
      div {
        width: 100%;
      }
    }
  }
  .modal {
    height: auto;
    max-height: 80%;
  }
  .modal_sub {
    margin-bottom: 1rem;
  }
  .modal_line {
    margin-bottom: 1rem;
    p {
      display: none;
    }
    a:nth-of-type(1) {
      display: none;
    }
    a:nth-of-type(2) {
      display: block;
    }
  }
}
