.container{
  width: 90vw;
  margin: 30px auto;
}
.header{
  font-size: 1.5rem;
  font-weight: 500;
}
.button{
  margin: auto;
  width: 1000px;
  display: flex;
  justify-content: flex-end;
  button{
    background-color: #D2DCFF;
    border: 0;
    font-size: 1rem;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    color: white;
  }
}

.grid{
  display: grid;
  gap: 10px 10px;
  grid-auto-rows: 300px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  margin: 20px auto 0;
  width: 1000px;
}
.project_item{
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: 1.8s;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, .18);
  cursor: pointer;
}
.project_item.flipped{
  transform: rotateY(180deg);
}
.project_front, .project_back{
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.project_front{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.project_back{
  background-image: url(https://images.unsplash.com/photo-1493606278519-11aa9f86e40a?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 12px;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.project_back_div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project_back_title{
  width: 90%;
  display: flex;
  justify-content: flex-start;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 1rem 0;
}
.project_back_content{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: .5rem 0;
  text-align: start;
  div:nth-of-type(1){
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: .2rem;
  }
  div:nth-of-type(2){
    font-size: 0.8rem;
    padding: 0 .3rem;
  }
}
.project_back_skill{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  text-align: start;
  div:nth-of-type(1){
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: .5rem;
  }
  div:nth-of-type(2){
    font-size: 0.8rem;
    padding: 0 .3rem;
  }
}
.project_back_btn{
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  button{
    width: 5rem;
    height: 2rem;
    margin: .5rem 2rem;
    color: white;
    font-size: 1rem;
    border: 0;
    border-radius: 15px;
    background-color: #D2DCFF;
    &:hover{
      width: 6rem;
      height: 2.5rem;
    }
  }
}

@media (max-width:1024px) {
  .button{
    width: 100%;
  }
  .grid{
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}

@media (max-width:768px) {
  .grid{
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .project_item{
    width: 300px;
  }
  .button{
    button{
      width: 80px;
    }
  }
}
@media (max-width:768px) and (min-width:426px) {
  .button{
    width: 78%;
  }
}
@media (max-width:320px) {
  .grid{
    grid-auto-rows: 245px;
  }
  .project_item{
    width: 260px;
    height: 240px;
  }
  .button{
    button{
      width: 60px;
      height: 30px;
    }
  }
}