.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 40px 0;
  width: 80%;
  border-bottom: 2px dashed #cdcdcd;
  border-top: 2px dashed #cdcdcd;
}
.header {
  font-size: 1.5rem;
  font-weight: 600;
}
.main {
  width: inherit;
  display: flex;
  justify-content: center;
}
.box {
  border: 2px solid #d2dcff;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  label {
    text-align: center;
    font-size: 1.3rem;
    margin: 0.5rem 0;
    font-weight: 700;
  }
}
.frontend_skill {
  display: flex;
  align-items: center;
  img {
    width: 35px;
    min-height: 50px;
    background-color: white;
    margin: 0 0.8rem;
    &:hover {
      transform: scale(1.2);
    }
  }
}

@media (max-width: 1024px) {
  .main {
  }
}
@media (max-width: 786px) {
  .main {
    width: 100%;
  }
}
@media (max-width: 320px) {
}
