.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 30px 0;
  width: 80%;
  border-bottom: 2px dashed #cdcdcd;
  border-top: 2px dashed #cdcdcd;
}
.header{
  font-size: 1.5rem;
  font-weight: 600;
}
.main{
  width: inherit;
  ul{
    margin: 30px;
    width: 100%;
  }
  li{
    list-style-type: none;  
    display: flex;
    justify-content: space-between;
    width: inherit;
    margin-bottom: 20px;
  }
}
.title{
  font-size: 1.4rem;
  font-weight: 500;
  width: 120px;
  text-align: start;
}
.bar{
  width: 80%;
  border-radius: 5px;
  background-color: #EFF0F0;
  div{
    box-sizing: border-box;
    height: 100%;
    background-color: #D2DCFF;
    border-radius: 0 15px 15px 0;
    padding: 0 10px;
  }
  p{
    font-size: 1.2rem;
    float: right;
  }
}
@media (max-width: 1024px) {
  .main{
    ul{
      padding: 0;
      margin: 10px 0;
    }
    .bar{
      width: 78%;
    }
  }
  
}
@media (max-width: 786px) {
  .main{
    width: 100%;
    ul{
      width: 100%;
    }
    li{
      width: auto;
    }
  }
  .title{
    font-size: 1rem;
    width: 80px;
  }
  .bar{
    width: 75%;
    p{
      font-size: 1rem;
    }
  }
}
@media (max-width: 320px) {
  .title{
    font-size: 0.7rem;
    width: 60px;
  }
}