.container{
  background-color: white;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../image/배경.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center ;
}
.type{
  height: 70px;
  margin-bottom: 10px;
  word-break: keep-all;
  font: inherit;
}
.box{
  color: rgba(0, 0, 0, .7);
  font-size: 20px;
  font-weight: 600;
  height: 350px;
  line-height: 1.4;
  text-align: center;
  p{
    font-size: 16px;
    font-weight: 400;
    word-break: keep-all;
  }
}
@media (max-width:1024px){
  .container{
    background-position: 80% ;
  }
}
@media (max-width:480px){
  .container{
    background-position: 75% ;
  }
}