.App {
  text-align: center;
}
*{
  p{
      margin: 0
  }
  div{
      -webkit-tap-highlight-color : transparent;
  }
  font-family: "Noto Sans KR", sans-serif;
}

header{
  display: block;
  position: sticky;
  top: 0;
  height: 4.5rem;
  background-color: white;
  z-index: 10;
}
